@using Viivalista.Models;
@model Tyontekija
@{

    
}

<h1>@Model.Nimi</h1>
<br />

@using (Html.BeginForm("TallennaVanha", "Tyontekija", FormMethod.Post))
{
    @Html.Label("Nimi");
    <br />
    @Html.TextBoxFor(t => t.Nimi, Model.Nimi, "Nimi");
    <span asp-validation-for="Nimi" class="text-danger"></span>
    <br />
    @Html.Label("Työntekijäryhmä");
    <br />
    @Html.TextBoxFor(t => t.Tyontekijaryhma, Model.Tyontekijaryhma, "Tyontekijaryhma");
    <span asp-validation-for="Tyontekijaryhma" class="text-danger"></span>
    <br />
    <input type="submit" name="saveButton" value="Tallenna" class="btn-success" />
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>