@using Viivalista.Models

@model List<Vuoro>

@{
    ViewData["Title"] = "Paivalista";
}

<h2>Päivälista</h2>
@Html.TextBox("Aika", "", new { @class = "date-picker" })
<br />
@using (Html.BeginForm("Tallenna", "Home", FormMethod.Post)) {
<table style="width:100%">
    <tr>
        <th style="width:15%">Työntekijä</th>
        @for (int k = 0; k < 12; k++)
        {
            <th style="width:100px">@(k + 7)</th>
        }

    </tr>
    
    
    @{List<Tyontekija> tt = ViewData["tyontekijat"] as List<Tyontekija>;}
    @for (int i = 0; i < tt.Count; i++)
    {

        var lista = new SelectList(tt[i].Tyopisteet.Where(x => x.Allowed == true), "Id", "Nimi");
        <tr>
            <td>@tt[i].Nimi</td>
           
            
            @for (int j = 0; j < 12; j++)

            {
                int ind = j + (i * 12);

                <td style="width:100px">
                    
                    <input id="z@ind__Alku" name= "[@ind].Alku" type="hidden" value= "@DateTime.Today.AddHours(j + 7)" class="alku"  />
                    <input id="z@ind__Loppu" name="[@ind].Loppu" type="hidden" value= "@DateTime.Today.AddHours(j + 8)" class="loppu" />
                    <input id="z@ind__Nimi" name="[@ind].Tyontekija" type="hidden" value=@tt[i].Id />
                    @Html.DropDownListFor(v => v[ind].Tyopiste, lista, String.Empty, new { style = "width:100%" })
                    
                </td>

            }

        </tr>
    }
    
</table>
<br />
<button>Tallenna</button>
}

<link href="~/lib/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/lib/datetimepicker/jquery.js"></script>
<script src="~/lib/datetimepicker/jquery.datetimepicker.js"></script>

<script type="text/javascript">

    $('#Aika').datetimepicker(
        {
            onSelectDate: function ($input) { muutaPvm($input); },
            format: 'd.m.Y'
        })

    function muutaPvm(pvm) {
        var alut = document.getElementsByClassName("alku");
        var loput = document.getElementsByClassName("loppu");
        var d = pvm.getDate() + "." + pvm.getMonth() + "." + pvm.getFullYear();
        for (var i = 0; i < alut.length; i++) {
            var s = alut[i].attributes.value.value;
            
            s = d + s.slice(10);
            alut[i].attributes.value.value = s;
        }
        for (var i = 0; i < loput.length; i++) {
            var s = loput[i].attributes.value.value;

            s = d + s.slice(10);
            loput[i].attributes.value.value = s;
        }
        console.log(alut);

    }
</script>